# Node.js modules
node_modules/

# Environment variables
.env

# Tempo­rary files during processamento
temp/
dist/

# Vídeos gerados/publicados
public/*

# Logs
npm-d4ebug.log*
yarn-debug.log*
*.log
yarn.lock

# Editor / SO
.vscode/
.DS_Store
